.cover-img {
    background-image: url('../../../assets/cover/seven.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
  }
  
  .slash-img {
    width: 200px;
    height: 270px;
    position: absolute;
    top: -125px;
    left: 34rem;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .slash-img {
      width: 120px;
      height: 160px;
      top: -75px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .cover-img {
      background-image: url('../../../assets/cover/seven.jpg');
      background-position: center;
      background-size: cover;
      width: 530px;
      height:600px;
      background-attachment: fixed;
    }
  }
  